@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    AP Hogeschool<br />
    Antwerpen, Ellermanstraat 33<br />
    <abbr title="Phone">P:</abbr>
    03.220.33.00
</address>