@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Gesloten</h1>
    <h2 class="text-danger">Dit account werd gesloten.</h2>
</hgroup>
