@{
    ViewBag.Title = "Bevestiging Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Bedankt voor het bevestigen van uw e-mail. @Html.ActionLink("Klik hier om in te loggen", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
