@{
    ViewBag.Title = "Paswoord Vergeten Bevestigen";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Controleer uw e-mail om uw wachtwoord opnieuw in te stellen.
    </p>
</div>
	
